[submodule "firmware/submodules/rce-gen3-fw-lib"]
	path = firmware/submodules/rce-gen3-fw-lib
	url = https://github.com/slaclab/rce-gen3-fw-lib
[submodule "firmware/submodules/surf"]
	path = firmware/submodules/surf
	url = https://github.com/slaclab/surf
[submodule "firmware/submodules/ruckus"]
	path = firmware/submodules/ruckus
	url = https://github.com/slaclab/ruckus
